.welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 40px;           /* space inside the welcome box */
  margin: 50px auto;       /* 50px top/bottom, auto centers it horizontally */
  border: 2px solid black;  /* so you can see the box */
  background-color: white;
  width: 500px; 
  height: 675px; 

  background-image: url('/public/extra_images/01-cool-cat.png');
  background-size: cover;
  background-position: center;

  font-family: 'Times New Roman', serif;
}

.welcome-screen h1 {
  color: white;
  text-align: center;
}

.enter-button {
  box-sizing: border-box;
  background-color: lightcyan;
  color: black;
  font-family: 'Times New Roman', serif;
  padding: 10px;
  width: 55px;

  transition: all 0.5s ease;
}

.enter-button:hover {
  background-color: #357abd;        /* darker blue on hover */
  transform: translateY(-2px);      /* moves up 2px */
  color: white;
}

/* --------------------------------------------------------- */

.player-screen {
  margin: 50px auto;
  width: 500px; 
  height: 675px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid black;

  font-family: 'Times New Roman', serif;
}

.title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0px 0px 0px 0px;
  width: 500px;
  border: 2px solid blue;
  position: relative;
  color: black;
}

.return-home {
  box-sizing: border-box;
  border: 1px solid black;
  position: absolute;
  top: 5px;
  left: 5px;

  font-family: 'Times New Roman', serif;
  text-align: center;
  background-color: lightcyan;
  color: black;
  padding: 5px;
  
  transition: all 0.5s ease;
}

.return-home:hover {
  background-color: #357abd;        /* darker blue on hover */
  transform: translateY(-2px);      /* moves up 2px */
  color: white;
}

.content {
  width: 490px;
  height: 675px;
  background-color: lightcyan;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid hotpink;
  position: relative;
  padding: 5px;
}

.player-section {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 345px;
  height: 450px;
  background-color: rgba(0, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  /* border: 2px solid red; */
}

.control-section {
  display: flex;
  position: absolute;
  bottom: 25px;
  right: 0px;
  width: 345px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 10px;
  padding: 10px;
  /*border: 2px black solid; */
}

.control-button {
  font-family: 'Times New Roman', serif;
  background-color: pink;
  border: 0px;
  border-radius: 50px; 
  padding: 5px 10px;
  margin: 10px;

  transition:
    transform 0.2s ease,
    background-color 0.1s ease;
}

.control-button:hover {
  transform: scale(1.25);
}

.control-button:active {
  background-color: hotpink;           
}

.playlist-section {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 75px;
  height: 490px;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}

.song-item {
  border-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.song-item:hover {
  transform: translateY(-5px);
}

.song-item.active {
  background-color: #4a90e2;     /* blue background for current song */
  color: black;
  font-weight: bold;
}