@font-face {
  font-family: 'architype';
  src: url('../public/Ballmer-ArchiType.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital';
  src: url('../public/digital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
    overflow: hidden;
    height: 100%;
}

.welcome-screen {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  margin: 5vw auto;       /* 50px top/bottom, auto centers it horizontally */
  border: 1px solid black;  /* so you can see the box */
  background-color: white;
  width: 33.333vw; 
  height: 45vw; 

  background-image: url('/public/extra_images/snow-2.jpg');
  background-size: cover;
  background-position: center;
}

.welcome-message {
  position:absolute;
  height: 20vw;
  left: 15vw;
  bottom: 30vw;
}

.enter-button {
  color: black;
  padding: 1vw;
  margin: 1vw 0px 0px 0px;
  width: 10vw;
  margin: 28vw 0px 0px 0px;
  transition: all 0.5s ease;
  animation: pulse 1s step-start infinite;
  cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.enter-button:hover {
  transform: scale(1.25);      /* moves up 2px */
}

/* --------------------------------------------------------- */

.player-screen {
  margin: 5.333vw auto;
  width: 33.333vw; 
  height: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid black;

  font-family: 'architype', sans-serif;
}

.title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  margin: 0px 0px 0px 0px;
  width: 33.33vw;
  position: relative;
  color: black;
}

.home-button {
  position: absolute;
  top: 0.333vw;
  left: 0.333vw;
  width: 4vw;
  padding: 0.333vw;
  cursor: pointer;
  
  transition: all 0.5s ease;
}

.home-button:hover {
  transform: scale(1.25);
}

.content {
  width: 32.667vw;
  height: 45vw;
  background-color: lightcyan;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 0.333vw;
}

.player-section {
  position: absolute;
  top: 2vw;
  right: 0px;
  width: 23vw;
  height: 33.333vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0.667vw;
  padding: 0.667vw;
  border: 1px solid black;
}

.control-section {
  display: flex;
  position: absolute;
  bottom: 2.667vw;
  right: 0px;
  width: 23vw;
  height: 4.667vw;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0.667vw;
  padding: 0.667vw;
  border-right: 1px black solid;
}

.control-button {
  margin: 1vw;
  height: 1.667vw;
  transition: all 0.2s ease;
  cursor: pointer;
}

.control-button:hover {
  transform: scale(1.25);
}

.control-button:active {
  background-color: hotpink;           
}

.progress-container {
  display: flex;
  align-items: center;
  width: 100%;
  color: hotpink;
  cursor: pointer;
}

.progress-bar {
  font-family: "digital", sans-serif;
  flex: 1;
  height: 0.533vw;
  position: relative;
  overflow: hidden;
  color: hotpink;
}

.time-display {
  font-size: 1vw;
  font-family: "digital", sans-serif;
  color: black;
  min-width: 2.333vw;
  text-align: center;
}

.playlist-section {
  position: absolute;
  top: 2vw;
  left: 0px;
  width: 5vw;
  height: 33.333vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0.667vw;
  padding: 0.667vw;
  border: 1px solid black;
}

.spotify-link {
  color: hotpink;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2vw;
  padding: 0.667vw;
  transition: all 0.2s ease;
}

.spotify-link:hover {
  transform: scale(1.01);
  color: lightskyblue;
}

.song-item {
  border-radius: 2.667vw;
  margin: 1vw;
  padding: 0px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.song-item:hover {
  transform: translateY(-0.333vw);
  color: hotpink;
}

.song-item.active {
  background-color: lightcyan; 
  font-weight: bold;
}

.wolp {
  height: 9.333vw;
  position: absolute;
  top: 3.467vw;
  right: 33.333vw;
  z-index: 10;
}

.headphones {
  height: 8vw;
  position: absolute;
  top: 0.333vw;
  right: 31.333vw;
  z-index: 11;
  animation: bounce-scale 1s infinite;
}

.headphones.playing {
  animation-play-state: running;
}

.headphones.paused {
  animation-play-state: paused;
}

.truck {
  height: 11.333vw;
  position: absolute;
  bottom: 2.77vw;
  left: 32vw;
  z-index: 10;
}

.joint {
  height: 8vw;
  position: absolute;
  bottom: 6.667vw;
  left: 27.333vw;
  z-index: 11;
  animation: bounce-scale 1s infinite;
}

.joint.playing {
  animation-play-state: running;
}

.joint.paused {
  animation-play-state: paused;
}

@keyframes bounce-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.jk {
  height: 9.333vw;
  position: absolute;
  bottom: 11.333vw;
  left: 21.667vw;
  z-index: 10;
}